body {
  background-image:turquoise ; 
  background-image: url("https://cdn.hipwallpaper.com/i/85/85/Xh2FH3.jpg");
}
h1 {
  color:red;
  font-family:fantasy;
  font-size:60px;
  font-weight:bold;
  border:5px solid maroon
 }
    h2 {
      font-family:fantasy;
      font-size:30px;
      color: orange;
    }
p {
  color: orange;
}
    img{ border: 30px solid maroon;
      padding:50px;
    }

}